@use './galeria';
@use './tarjeta.scss';
@use './formulario';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    background-color: rgba(66, 212, 50, 0.87);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(48, 113, 93);
    font-size: 1em;
    padding: 2rem;
    max-width: 100%;

    @media screen and (min-width: 1200px) {
        width: 80%;
        margin-left: 20vw;

    }

    @media screen and (min-width: 1400px){
        padding: 1rem;
    }

    &__titulo {
        display: flex;
        justify-content: center;
        color: rgb(103, 254, 86);
        text-shadow: 4px 5px 10px black;

        @media screen and (min-width: 992px) {
            font-size: 3.5em;
        }

        @media screen and (min-width: 1400px) {
            font-size: 4.5em;

        }
    }

    &__menu {
        color: #fff;
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;

        @media screen and (min-width: 576px) {
            display: none;
        }
    }

}

.columna {
    display: none;
    opacity: 0;

    @media screen and (min-width: 1200px) {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        opacity: 1;
        gap: 1rem;
        font-size: 1.7em;
        background-color: rgb(48, 113, 93);
        width: 21vw;
        min-height: 100vh;

    }

    &__contenido {
        @media screen and (min-width: 1200px) {
            padding: 1rem;
            background-color: rgb(201, 255, 253);
            border-radius: 10px;
            list-style: none;
            color: #141313;

            &:hover {
                background-color: rgb(161, 255, 150);
            }
        }
    }
}


.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(114, 244, 99);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

    @media screen and (min-width: 576px) {
        position: static;
        background-color: transparent;
        box-shadow: none;
        visibility: visible;
        opacity: 1;
        padding: 0;
    }

    &__cerrar {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        color: #1c1c1c;

        @media screen and (min-width: 576px) {
            display: none;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: end;
        border-radius: 10px;
        list-style: none;

        @media screen and (min-width: 576px) {
            gap: 1rem;
            font-size: 1.5em;
            background-color: rgb(161, 255, 150);
            padding: 1rem;
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }

        @media screen and (min-width: 1200px) {
            background-color: rgb(48, 113, 93);
        }
    }

    &__link-galeria,
    &__link-tarjeta,
    &__link-formulario {
        border-radius: 10px;
        color: rgb(27, 77, 62);
        text-decoration: none;
        font-size: 1em;
        transition: 0.5s;

        @media screen and (min-width: 576px) {
            color: #141313;
            text-decoration: underline;
        }

        @media screen and (min-width: 992px) {
            font-size: 1.2em;

        }

        @media screen and (min-width: 1200px) {
            font-size: 1.1em;
            padding: 0.2rem;
            text-decoration: none;
            color: #eee;
            cursor: pointer;

            &:hover {
                background-color: rgb(161, 255, 150);
                color: #141313;
            }
        }

        @media screen and (min-width: 1400px) {
            font-size: 1.2em;

        }
    }

}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    color: #141313;

    @media screen and (min-width: 1200px) {
        width: 80vw;
        margin-left: 20vw;

    }

    &__bienvenida {
        color: rgb(201, 255, 253);
        text-shadow: 4px 5px 10px black;
        font-size: 2.5em;

        @media screen and (min-width: 992px) {
            font-size: 4em;
        }

        @media screen and (min-width: 1400px) {
            font-size: 5em;

        }
    }

    &__parrafo {
        color: rgb(7, 23, 19);
        font-size: 1.2em;

        @media screen and (min-width: 992px) {
            font-size: 2em;
            padding: 1rem;
        }

        @media screen and (min-width: 1400px) {}
    }

    &__subtitulo {
        background-color: rgb(161, 255, 150);
        font-size: 1.2em;
        border-radius: 10px;
        padding: 0.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        border: 3px solid #141313;
        border-left: transparent;
        border-right: transparent;

        @media screen and (min-width: 992px) {
            font-size: 3em;
            border: 6px solid #141313;
            border-left: transparent;
            border-right: transparent;
        }
    }
}

.footer {
    background-color: rgb(48, 113, 93);
    text-align: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &__parrafo {
        color: #dfdfdf;

        @media screen and (min-width: 992px) {
            font-size: 1.5em;

        }
    }
}